body {
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.topnav {
	position: absolute;
	width: 297px;
	height: 31.45px;
	top: 20px;
	left: 12px;
	background: rgba(153, 58, 157, 0.9);
	box-sizing: border-box;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	font-family: Jura, sans-serif;
	font-weight: bold;
	font-size: 10px;
	line-height: 12px;
	color: #fff;
	padding: 8.28px;
	text-decoration: none;
}

.orange-border {
	position: absolute;
	width: 263px;
	height: 93px;
	left: 33px;
	top: 425px;
	background: #ffa149;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.take-our-survey {
	font-family: Jura, sans-serif;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: #000;
}

.start-container {
	position: absolute;
	width: 229.55px;
	height: 138.83px;
	left: 48.73px;
	top: 187.08px;
	background: #c4c4c4;
	box-shadow: 5px 4px 100px 40px rgba(0, 0, 0, 0.5);
	border-style: outset;
	border-color: #e5e5e5;
}

.blue-banner {
	position: relative;
	width: 229.55px;
	height: 31.03px;
	background: #4acdd6;
	display: flex;
	align-items: center;
}

.x-button {
	border-style: outset;
	position: absolute;
	width: 18px;
	height: 18px;
	background: #c4c4c4;
	left: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.x-button::before {
	content: "\d7";
	font-size: 26px;
}

.welcome {
	position: absolute;
	left: 20px;
	top: 7px;
	color: white;
	font-family: Jura, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
}

.feeling {
	position: absolute;
	padding-right: 30px;
	padding-left: 30px;
	text-align: center;
	top: 25px;
	font-family: Jura, sans-serif;
	font-size: 15px;
}

.start-journey {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-journey {
	position: absolute;
	width: 131px;
	height: 26px;
	background: #4acdd6;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 9px;
	top: 90px;
	border-color: #4acdd6;
}

@media screen and (min-width: 768px) {
	.topnav {
		width: 682px;
		height: 65px;
		top: 51px;
		left: 40px;
	}

	a {
		font-family: Jura, sans-serif;
		font-weight: bold;
		font-size: 20px;
		line-height: 23.66px;
		padding: 32.31px;
	}

	.orange-border {
		width: 445px;
		height: 129px;
		left: 163px;
		top: 721px;
	}

	.take-our-survey {
		font-size: 20px;
		line-height: 24px;
	}

	.start-container {
		position: absolute;
		width: 446px;
		height: 247px;
		left: 162px;
		top: 369px;
		border-width: 5px;
	}

	.blue-banner {
		position: relative;
		width: 445px;
		height: 55px;
	}

	.x-button {
		width: 32px;
		height: 32px;
		left: 400px;
		border-width: 3px;
	}

	.x-button::before {
		content: "\d7";
		font-size: 45px;
	}

	.welcome {
		left: 17px;
		top: 17px;
		font-size: 14px;
		line-height: 16.56px;
	}

	.feeling {
		padding-right: 0;
		padding-left: 0;
		top: 74px;
		font-size: 27px;
		width: 445px;
		font-weight: bold;
	}

	.button-journey {
		width: 254px;
		height: 46px;
		font-size: 15px;
		top: 160px;
		border-width: 5px;
	}
}

@media screen and (min-width: 1200px) {
	.topnav {
		position: absolute;
		width: 1036px;
		height: 72px;
		top: 57px;
		left: 82px;
	}

	a {
		font-size: 20px;
		line-height: 24px;
		padding: 49.08px;
	}

	.orange-border {
		position: absolute;
		width: 445px;
		height: 129px;
		left: 377px;
		top: 722px;
	}

	.take-our-survey {
		font-size: 20px;
		line-height: 24px;
	}

	.start-container {
		width: 445px;
		height: 246px;
		left: 377px;
		top: 372px;
	}
}
