body {
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.container {
	position: absolute;
	width: 229.55px;
	height: 275px;
	left: 45.225px;
	top: 140px;
	background: #c4c4c4;
	box-shadow: 5px 4px 100px 40px rgba(0, 0, 0, 0.5);
	border-style: outset;
	border-width: 4px;
}

.topnav {
	position: absolute;
	width: 297px;
	height: 31.45px;
	top: 20px;
	left: 12px;
	background: rgba(153, 58, 157, 0.9);
	box-sizing: border-box;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	font-family: Jura, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	padding: 40px;
	text-decoration: none;
}

.blue-banner {
	position: relative;
	width: 229.55px;
	height: 40px;
	background: #4acdd6;
	display: flex;
	align-items: center;
}

.x-button {
	border-style: outset;
	position: absolute;
	width: 18px;
	height: 18px;
	background: #c4c4c4;
	left: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.x-button::before {
	content: "\d7";
	font-size: 26px;
}

.banner {
	position: absolute;
	left: 10px;
	color: white;
	font-family: Jura, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
}

.container-1 {
	align-items: center;
	display: flex;
}

.heading {
	position: absolute;
	padding-left: 50px;
	text-align: center;
	top: 60px;
	font-family: Jura, sans-serif;
	font-size: 15px;
}

.mood {
	position: absolute;
	top: -13px;
	left: 10px;
}

.mood-button {
	position: relative;
	border-style: outset;
	position: absolute;
	width: 30px;
	height: 30px;
	background: #c4c4c4;
	left: 160px;
	top: -15px;
	font-size: 10px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content p {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content p:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.wrapper {
	position: absolute;
	width: 200px;
	height: 40px;
	background: white;
	left: 10.775px;
	top: 120px;
	border-style: inset;
	border-width: 3px;
	display: flex;
	align-items: center;
}

.see-results {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-results {
	position: absolute;
	width: 131px;
	height: 26px;
	background: #4acdd6;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 9px;
	top: 200px;
	border-color: #4acdd6;
}

@media screen and (min-width: 768px) {
	.topnav {
		width: 682px;
		height: 65px;
		top: 51px;
		left: 40px;
	}

	a {
		font-family: Jura, sans-serif;
		font-weight: bold;
		font-size: 20px;
		line-height: 23.66px;
		padding: 32.31px;
	}

	.container {
		position: absolute;
		width: 732.57px;
		height: 630px;
		left: 136px;
		top: 269px;
		border-width: 8px;
	}

	.blue-banner-2 {
		position: relative;
		width: 732.57px;
		height: 69.4px;
	}

	.x-button-2 {
		width: 32px;
		height: 32px;
		left: 680px;
		border-width: 3px;
	}

	.x-button-2::before {
		content: "\d7";
		font-size: 45px;
	}

	.banner {
		left: 17px;
		top: 10px;
		font-size: 16px;
		line-height: 16.56px;
	}

	.body-1 {
		padding-left: 200px;
		padding-top: 100px;
	}

	.heading {
		margin-left: 100px;
		top: 74px;
		font-size: 27px;
		font-family: Jura, sans-serif;
		width: 445px;
	}

	.wrapper {
		border-width: 6px;
		margin-top: 100px;
		margin-left: 140px;
		width: 50%;
	}

	.button-results {
		width: 254px;
		height: 46px;
		font-size: 15px;
		top: 530px;
		border-width: 5px;
	}
}

@media screen and (min-width: 1200px) {
	.topnav {
		position: absolute;
		width: 1036px;
		height: 72px;
		top: 57px;
		left: 82px;
	}

	a {
		font-size: 20px;
		line-height: 24px;
		padding: 49.08px;
	}

	.container {
		width: 811.09px;
		height: 657px;
		left: 241px;
		top: 264px;
	}

	.blue-banner-2 {
		position: relative;
		width: 811.09px;
		height: 69.4px;
	}

	.x-button-2 {
		width: 32px;
		height: 32px;
		left: 750px;
		border-width: 3px;
	}

	.x-button-2::before {
		content: "\d7";
		font-size: 45px;
	}

	.heading {
		padding-right: 0;
		padding-left: 80px;
		top: 74px;
		font-size: 27px;
		font-family: Jura, sans-serif;
		width: 445px;
	}

	.wrapper {
		margin-left: 150px;
	}

	.button-results {
		width: 254px;
		height: 46px;
		font-size: 15px;
		top: 540px;
		border-width: 5px;
	}
}
