body {
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.container {
	position: absolute;
	width: 229.55px;
	height: 275px;
	left: 131.225px;
	top: 140px;
	background: #c4c4c4;
	box-shadow: 5px 4px 100px 40px rgba(0, 0, 0, 0.5);
	border-style: outset;
	border-width: 4px;
}

.topnav {
	position: absolute;
	width: 370px;
	height: 40.45px;
	top: 20px;
	left: 65px;
	background: rgba(153, 58, 157, 0.9);
	box-sizing: border-box;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	font-family: Jura, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	padding: 40px;
	text-decoration: none;
}

.blue-banner {
	position: relative;
	width: 229.55px;
	height: 40px;
	background: #4acdd6;
	display: flex;
	align-items: center;
}

.x-button {
	border-style: outset;
	position: absolute;
	width: 18px;
	height: 18px;
	background: #c4c4c4;
	left: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.x-button::before {
	content: "\d7";
	font-size: 26px;
}

.banner {
	position: absolute;
	left: 10px;
	color: white;
	font-family: Jura, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
}

.choose-mood {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.heading {
	position: absolute;
	text-align: center;
	top: 60px;
	font-family: Jura, sans-serif;
	font-size: 15px;
}

.mood {
	position: absolute;
	top: -13px;
	left: 10px;
}

.mood-button {
	border-style: outset;
	position: absolute;
	width: 30px;
	height: 30px;
	background: #c4c4c4;
	left: 160px;
	top: -15px;
	font-size: 10px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
	left: 160px;
}

.dropdown-content p {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content p:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.wrapper {
	position: absolute;
	width: 200px;
	height: 40px;
	background: white;
	left: 10.775px;
	top: 120px;
	border-style: inset;
	border-width: 3px;
	display: flex;
	align-items: center;
}

.see-results {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-results {
	position: absolute;
	width: 131px;
	height: 26px;
	background: #4acdd6;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 10px;
	top: 200px;
	border-color: #4acdd6;
}

.orange-box {
	position: absolute;
	width: 263px;
	height: 93px;
	left: 118.5px;
	top: 490px;
	background: #ffa149;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.suggest-song {
	font-family: Jura, sans-serif;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: #000;
}

@media screen and (min-width: 768px) {
	.topnav {
		width: 682px;
		height: 65px;
		top: 51px;
		left: 40px;
	}

	a {
		font-family: Jura, sans-serif;
		font-weight: bold;
		font-size: 20px;
		line-height: 23.66px;
		padding: 80px;
	}

	.container {
		position: absolute;
		width: 626.72px;
		height: 400px;
		left: 70.625px;
		top: 185px;
		border-width: 8px;
	}

	.blue-banner {
		position: relative;
		width: 626.72px;
		height: 69.4px;
	}

	.x-button {
		width: 32px;
		height: 32px;
		left: 570px;
		border-width: 4px;
	}

	.x-button::before {
		content: "\d7";
		font-size: 45px;
	}

	.banner {
		left: 20px;
		font-size: 20px;
	}

	.heading {
		top: 74px;
		font-size: 27px;
		font-family: Jura, sans-serif;
		width: 445px;
	}

	.wrapper {
		border-width: 6px;
		top: 170px;
		width: 300px;
		left: 157.36px;
	}

	.mood-button {
		left: 260px;
		border-width: 3px;
	}

	.dropdown-content {
		left: 260px;
	}

	.button-results {
		width: 254px;
		height: 46px;
		font-size: 15px;
		top: 280px;
		border-width: 5px;
	}

	.orange-box {
		width: 400px;
		height: 100px;
		left: 184px;
		top: 650px;
	}

	.suggest-song {
		font-size: 17px;
	}
}

@media screen and (min-width: 1200px) {
	.topnav {
		position: absolute;
		width: 1036px;
		height: 72px;
		top: 57px;
		left: 82px;
	}

	a {
		font-size: 20px;
		line-height: 24px;
		padding: 200px;
	}

	.container {
		width: 811.09px;
		height: 400px;
		left: 186.455px;
		top: 200px;
	}

	.blue-banner {
		position: relative;
		width: 811.09px;
		height: 69.4px;
	}

	.x-button {
		width: 32px;
		height: 32px;
		left: 750px;
		border-width: 4px;
	}

	.x-button::before {
		content: "\d7";
		font-size: 50px;
	}

	.heading {
		top: 90px;
		font-size: 30px;
		font-family: Jura, sans-serif;
		width: 445px;
	}

	.wrapper {
		top: 200px;
		width: 350px;
		left: 224.545px;
	}

	.mood-button {
		left: 315px;
	}

	.dropdown-content {
		left: 315px;
	}

	.button-results {
		width: 254px;
		height: 46px;
		font-size: 15px;
		top: 300px;
	}

	.orange-box {
		width: 400px;
		height: 100px;
		left: 400px;
		top: 650px;
	}

	.suggest-song {
		font-size: 17px;
	}
}
