.results-container {
	position: absolute;
	width: 229px;
	height: 482.73px;
	left: 45px;
	top: 187px;
	background: #c4c4c4;
	border-style: outset;
	border-width: 3.5px;
	box-shadow: 5px 4px 100px rgba(0, 0, 0, 0.5);
}

img {
	position: absolute;
	width: 119px;
	height: 119px;
	left: 56px;
	top: 131px;
}

.blue-banner-3 {
	position: absolute;
	width: 229.55px;
	height: 31.03px;
	background: #4acdd6;
	display: flex;
	align-items: center;
	justify-content: center;
}

.x-button-3 {
	position: absolute;
	width: 18.78px;
	height: 18.78px;
	background: #c4c4c4;
	border-style: outset;
	left: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.x-button-3::before {
	content: "\d7";
	font-size: 26px;
}

.page-tab-2 {
	position: absolute;
	font-family: Jura, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 10px;
	left: 20px;
	color: #fff;
}

.page-heading-2 {
	position: absolute;
	font-family: Jura, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
	top: 70px;
	left: 19px;
	color: #000;
}

.suggested-song {
	position: absolute;
	width: 210px;
	height: 90px;
	left: 10px;
	top: 270px;
	line-height: 14px;
	text-align: center;
}

.results-artist {
	font-family: Jura, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: #000;
}

.results-album {
	font-family: Jura, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: #000;
}

.button-more {
	position: absolute;
	width: 111.83px;
	height: 32.26px;
	top: 354px;
	left: 60px;
	background: #c4c4c4;
	font-family: Jura, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	border-width: 3.04px;
}

.button-spotify {
	position: absolute;
	width: 111.83px;
	height: 32.26px;
	top: 400px;
	left: 60px;
	background: #4acdd6;
	font-family: Jura, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	border-width: 3.04px;
	border-color: #4acdd6;
}

@media screen and (min-width: 768px) {
	.results-container {
		width: 652px;
		height: 493px;
		left: 50px;
		top: 275px;
		background: #c4c4c4;
		border-width: 5px;
	}

	img {
		width: 163px;
		height: 163px;
		left: 392px;
		top: 171px;
	}

	.blue-banner-3 {
		position: absolute;
		width: 650px;
		height: 40px;
		background: #4acdd6;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.x-button-3 {
		position: absolute;
		width: 18.78px;
		height: 18.78px;
		background: #c4c4c4;
		border-style: outset;
		left: 620px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.page-tab-2 {
		font-size: 14px;
		left: 28px;
	}

	.page-heading-2 {
		font-size: 27px;
		line-height: 20px;
		top: 90px;
		left: 174px;
		color: #000;
	}

	.suggested-song {
		height: 202px;
		left: 87px;
		top: 202px;
		line-height: 21px;
		text-align: inherit;
	}

	.results-artist {
		font-size: 18px;
	}

	.results-album {
		font-size: 18px;
	}

	.button-more {
		width: 184px;
		height: 53px;
		top: 404px;
		left: 87px;
		background: #c4c4c4;
		font-family: Jura, sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		border-width: 5px;
	}

	.button-spotify {
		width: 184px;
		height: 53px;
		top: 404px;
		left: 382px;
		background: #4acdd6;
		font-family: Jura, sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		border-width: 5px;
	}
}

@media screen and (min-width: 1200px) {
	.results-container {
		left: 275px;
		top: 300px;
	}
}
